[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	email = christoleavenow@gmail.com
	name = Chris
[color]
	ui = auto
[credential]
	helper = store
